<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Explore India's Grand Hospitality</h1>
          <div class="h-1 w-20 bg-yellow-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Immerse yourself in the elegance of India's top hotels with our Hotels App. Explore iconic destinations and discover the epitome of luxury and hospitality. From the historic Taj Mahal Palace in Mumbai to the enchanting Oberoi Udaivilas in Udaipur, experience the grandeur of renowned hotels across the country. Plan your next luxurious getaway with our app, where opulence meets comfort, and every stay is a journey into the heart of Indian hospitality.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Taj_Mahal_Palace_Hotel.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">MUMBAI</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Taj Mahal Palace</h2>
            <p class="leading-relaxed text-base">Located in the heart of Mumbai.
            Iconic luxury hotel overlooking the Arabian Sea.
            Known for its historic architecture and world-class service.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/73/88/53/premier-rooms-with-semi.jpg?w=700&h=-1&s=1" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">UDAIPUR</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">The Oberoi Udaivilas</h2>
            <p class="leading-relaxed text-base">Situated on the banks of Lake Pichola in Udaipur.
            A palace-like hotel with stunning views and intricate architecture.
            Offers luxurious accommodations.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/itc/hotels/itcgrandchola-chennai/images/overview/overview-desktop/exterior-dusk.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">CHENNAI</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">ITC Grand Chola</h2>
            <p class="leading-relaxed text-base">One of the largest luxury hotels in India.
            Known for its opulent design and exquisite dining options.
            Blends traditional South Indian elements.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/5648061.jpg?k=4629f919fb92436c3e19b71734d208d8e58201df7b29773f90089639f367db6d&o=&hp=1" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">NEW DELHI</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">The Leela Palace</h2>
            <p class="leading-relaxed text-base">Located in the heart of the capital city.
            Exudes grandeur with its royal architecture and lush greenery.
            Offers a luxurious retreat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>